<div class="container">
    <div>
        <img src="../../assets/images/dynatron-logo.png" alt="">
    </div>
    <div class="inner-container">
        <div class="contained">
        <img id="map-icon" src="../../assets/images/map-logo.png" alt="">
        <span id="address">5580 Peterson Lane, Suite 120 Dallas, TX 75240</span>
        </div>
        <div class="contained">
            <img src="../../assets/images/phone.png" alt="">
            <span id="phone-number"> 866-888-3962</span>
        </div>
        <div id="sign-in-parent">
            <div id="sign-in-child">
            <img src="../../assets/images/person-logo.png" alt="">
            </div>
            <div id="sign-in">
                Sign In
            </div>
        </div>
    </div>
</div>
