.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px 0;
    background-image: url("../../assets/images/topbar-background.png");
    font-family: 'Open Sans', sans-serif;
}

.inner-container{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contained{
    height: 39px;
    padding: 4px 27px;
    margin: 0 5px;
    border: 1px solid #393e47;
    border-radius: 50px;
}

#sign-in-child{
    width: 25px;
    height: 25px;
    background-color: #4ac7f2;
    border: 1px solid #4ac7f2;
    border-radius: 50px;
    padding: 10px;
}

#sign-in-parent{
    display: flex;
    align-items: center;
    color: white;
    background-color: #11b7ee;
    border: 1px solid #11b7ee;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 8px;
}

#address{
    color: white;
    letter-spacing: 1px;
}

#phone-number{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#sign-in{
    padding: 0 15px;
}

#map-icon{
    margin-right: 6px;
}

#phone-img{
    margin-right: 5px;
}

.inner-container div:not(:first-child){
    margin-left: 15px;
}