<div id="outer-container">
    <p id="p">Warranty Labor Rate <span id="top-header">Increase and Submission</span></p>
    <div class="container">
    <div class="container" id="inner-container">
        <div><img id="house" src="../../assets/images/house-image.png" alt=""></div>
        <div><img class="forward-arrow" src="../../assets/images/forward-arrow.png" alt=""></div>
        <div><strong class="white">Products</strong></div>
        <div><img class="forward-arrow" src="../../assets/images/forward-arrow.png" alt=""></div>
        <div><strong class="white">Warranty Labor Rate Increase and Submission</strong></div>
    </div>
    </div>
</div>
<div class="container">
    <div><img src="../../assets/images/warranty-labor-img.png" alt=""></div>
</div>
<div class="container open-sans">
    <div class="large-text grey">
        <strong id="maximize">Maximize </strong> <span class="fw-light">Your Warranty Labor Rate Utilizing Business Intelligence</span>
    </div>
</div>
<div class="container">
    <img src="../../assets/images/line-of-circles.png" alt="">
</div>
<div class="container">
    <div class="container open-sans">
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/graph.png" alt="">
            </div>
            <div class="grey">We do all heavy <br>lifting with <br><strong class="orange1">Unmatched ROI!</strong></div>
        </div>
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/triangle.png" alt="">
            </div>
            <div class="grey">We utilize our <strong class="orange1">Business <br>Intelligence Software </strong><br>to find the best sample <br>that always maximizes <br>the increase</div>
        </div>
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/sawblade.png" alt="">
            </div>
            <div class="grey">
                <strong class="orange1">We make it easy for <br> you</strong> by handling the <br> paperwork submission <br>process
            </div>
        </div>
    </div>
   </div>
   <div class="container orange-dollar">
       <div id="arrow-img-container" class="container">
            <img src="../../assets/images/dollar-arrow.png" alt="">
       </div>
       <div>
           We Averaged An <span class="underline"><strong>Increase of $17.54 Per Hour</strong></span><br>For Our Q4 2017 Approvals
       </div>
   </div>
   <div class="container">
       <div id="see-below" class="rounded-border">
           See below for <span class="orange"><strong>individual dealer results</strong></span>
       </div>
       </div>
       <div class="container">
       <table cellspacing=0>
          <tr id="header-row">
              <th id="first-th">Manufacturer</th>
              <th>State</th>
              <th>Starting <br>Labor Rate</th>
              <th>Actual <br>Approved Rate</th>
              <th>Increase <br>Labor Rate</th>
              <th>12 Month <br>Value Of Increase</th>
          </tr>
          <tr class="middle-cell">
              <td>Lexus</td>
              <td>CA</td>
              <td>$132.00</td>
              <td>$150</td>
              <td>$18.00</td>
              <td>$289.00</td>
          </tr>
          <tr class="middle-cell">
                <td>Lexus</td>
                <td>CA</td>
                <td>$132.00</td>
                <td>$150</td>
                <td>$18.00</td>
                <td>$289.00</td>
            </tr> 
            <tr class="middle-cell">
                     <td>Lexus</td>
                    <td>CA</td>
                    <td>$132.00</td>
                    <td>$150</td>
                    <td>$18.00</td>
                    <td>$289.00</td>
            </tr>
            <tr class="middle-cell">
                    <td>Lexus</td>
                    <td>CA</td>
                    <td>$132.00</td>
                    <td>$150</td>
                    <td>$18.00</td>
                    <td>$289.00</td>
                </tr>
                <tr class="middle-cell">
                        <td>Lexus</td>
                        <td>CA</td>
                        <td>$132.00</td>
                        <td>$150</td>
                        <td>$18.00</td>
                        <td>$289.00</td>
                    </tr>
                    <tr class="middle-cell">
                            <td>Lexus</td>
                            <td>CA</td>
                            <td>$132.00</td>
                            <td>$150</td>
                            <td>$18.00</td>
                            <td>$289.00</td>
                        </tr>
                        <tr class="middle-cell">
                                <td>Lexus</td>
                                <td>CA</td>
                                <td>$132.00</td>
                                <td>$150</td>
                                <td>$18.00</td>
                                <td>$289.00</td>
                            </tr>
                            <tr class="middle-cell">
                                    <td>Lexus</td>
                                    <td>CA</td>
                                    <td>$132.00</td>
                                    <td>$150</td>
                                    <td>$18.00</td>
                                    <td>$289.00</td>
                                </tr>
                                <tr class="middle-cell">
                                    <td>Lexus</td>
                                    <td>CA</td>
                                    <td>$132.00</td>
                                    <td>$150</td>
                                    <td>$18.00</td>
                                    <td>$289.00</td>
                                </tr>
                                <tr class="middle-cell">
                                    <td>Lexus</td>
                                    <td>CA</td>
                                    <td>$132.00</td>
                                    <td>$150</td>
                                    <td>$18.00</td>
                                    <td>$289.00</td>
                                </tr>
                                <tr class="middle-cell">
                                    <td>Lexus</td>
                                    <td>CA</td>
                                    <td>$132.00</td>
                                    <td>$150</td>
                                    <td>$18.00</td>
                                    <td>$289.00</td>
                                </tr>
                                <tr id="bottom-row">
                                       <td id="td-before">Average Labor Increase</td>
                                       <td></td>
                                       <td></td> 
                                       <td></td>
                                       <td>$17.54</td>
                                       <td>$105.558.66</td>
                                </tr> 
       </table>
    </div>
    <!-- <div class="flex-container overflow mx-10 mb-10" id="bg-computer">
        <div id="lorem-ipsum" class="flex-container w-50 skew bg-black p">
            <div class="inline-flex-column reverse-skew ">
            <strong class="pl-3 white">LOREM IPSUM</strong>
            <strong class="white">SIT AMET</strong>
           <p><span class="pl-3  f-small yellow">LOBORTIS NISL</span><br>
            <span class="f-small yellow">UT ALIQUIP</span></p>
            <strong class=white>SED NIAM NONUMMY NIBH EUISMOD TINCIDUNT</strong>
            <P class="rgba-white">
                Lorem ipsum lorem ipsum <br>
                lorem ipsum lorem ipsum
            </P>
  
           <div class="white inline-flex-column">
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem <br> ipsum lorem ipsum lorem ipsum 
               </div>
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem <br> ipsum lorem ipsum lorem ipsum 
               </div>
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem ipsum <br> lorem ipsum lorem ipsum
               </div>
           </div>
           </div>
        </div>
        <div id="test" class="inline-flex-column skew bg-blue w-50 align-center">
               <div id="inside-form-container" class="mw-50 reverse-skew">
                   <strong class="yellow">Contact Us</strong>
                   <p class="white">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                   <form class="inline-flex-column align-start" action="#">
                      <input placeholder="Full Name" class="input">
                      <input placeholder="Email" class="input">
                      <input placeholder="Phone" class="input">
                      <textarea placeholder="Message" id="textarea"></textarea>
                      <button id="orange-button" class="bg-orange white" mat-button>submit</button>
                   </form>
               </div>
        </div>       
    </div> -->
    <!-- cut here -->
    <div id="skew-container" class="flex-container">
        <div id="left-containing-div">
            <div id="left-contained-div">
                <p id="before" class=" relative white m-0 line-height font-50">LOREM IPSUM</p>
                <p class=" relative white m-0 line-height font-50"><span id="sit">SIT AMET</span></p>
                <p id="lobortis" class=" relative hex-yellow">LOBORTIS NISL</p>
                <p id="ut" class="relative hex-yellow">SIT ALIQUIP</p>
                <p id="sed" class=" relative white">SED DIAM NONUMMY NIBH EUISMOD TINCIDUNT</p>
                <p id="paragraph" class="white">Lorem ipsum color sit amet conseceteur adpiscing elit, sed diam nonummy nibh euismod tincidunt ut loreet dolore magna we elit aliquam erat voluputat. Ut wisi enim ad minim veriam quis nostrud excerciation uliamcorper suscipit lobortis nisl ut aliquip ex ea web commodo consequat> Duis autem vol eum iriuer dolor</p>
                <div  class="check-line-container flex-container">
                   <div class="check-img-container flex-container"><img class="check" src="../../assets/images/check.png"></div><span class="white check-line">Suscipit lobortis nisl aliquip ex ea commodo consewuat elite</span>
                </div>
                <div class="check-line-container flex-container">
                    <div class="check-img-container flex-container"><img class="check" src="../../assets/images/check.png"></div><span class="white check-line">Suscipit lobortis nisl aliquip ex ea commodo consewuat elite</span>
                </div>
                <div class="flex-container">
                    <div class="check-img-container flex-container"><img class="check" src="../../assets/images/check.png"></div><span class="white check-line">Suscipit lobortis nisl aliquip ex ea commodo consewuat elite</span>
                </div>
            </div>
        </div>
        <div id="right-containing-div">
            <div id="form-container1" class="flex-column2">
                <h3 id="contact-us">CONTACT US</h3>
                <p id="sub-heading">Lorem ipsum dolor sit amet, consectetu adipiscing eli sid diam nonummy</p>
                <form action=""class="flex-column2" id="form1">
                    <input type="text" placeholder="FULL NAME">
                    <input type="text" placeholder="EMAIL">
                    <input type="text" placeholder="PHONE">
                    <textarea name="" id="" cols="30" rows="10" placeholder="MESSAGE"></textarea>
                    <button>submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="flex-container">
        <div class="inline-flex-column mw-35 mr-5 open-sans">
          <p class="blue m-0 fontx2 fw-700">Lorem Ipsum Lorem Ipsum</p>
           <p class="grey m-0 fontx2">Lorem Ipsum lorem</p>
           <p><strong>Lorem ipsum lorem ipsum lorem ipsum <br>
            Lorem ipsum lorem ipsum</strong>
           </p>
           <p class="grey">Lorem ipsum lorem ipsum lorem ipsum <br>
            Lorem ipsum lorem ipsum lorem ipsum <br>
            lorem ipsum lorem ipsum lorem ipsum
           </p>
           <div class="flex-container jc-start">
               <button class=" mr-3 pl-0 bg-black white" mat-raised-button><button id="phone-fab" mat-mini-fab><i class="fas fa-phone"></i></button>866-888-3962</button>
               <button class="pl-0 fontx-2 bg-blue2 white" mat-raised-button><button id="envelope-fab" mat-mini-fab><i class="fas fa-envelope"></i></button> Contact Us</button>
           </div>
        </div>
        <div class="inline-flex-column mw-35">
             <img class="p-0" src="https://gmandsonsservice.com/images/display/411/Photo%20of%20shop.png" id="play-image" alt="">
            <i class="fas fa-play-circle pr-center f-5"></i>
             <button id="play-button" mat-raised-button class="as-c pr-0 bg-orange">Watch Our Video <button mat-mini-fab id="orange-mini"><i class="fas fa-play"></i></button></button>
        </div>
    </div> -->
    <div id="last-section-container" class="flex-container">
        <div class="w-31">
            <h2 id="caption" class="m-0">LAOREET DOLORE MAGNA ALIQUA</h2>
            <h3 id="sub-caption" class="m-0">CONSECETUR ADIPISCING ELIT</h3>
            <p id="sub-sub-caption">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse moles</p>
            <p class="description">Lorem ipsum dolor sit amet, consecetur adipscing elit, sed diam nonummy nibh eusimod tincidunt ut laoreet dolore magna aliquam erat volutpat lorem impsum dolor sit amet</p>
            <p class="description">It wisi enim ad minim veniam, quis nostrud exerciation ullamcorper suscipit lobortis nisl ex ea commodo consequat</p>
            <button id="phone-number-button" mat-raised-button><button id="phone-mini" mat-mini-fab><img id="phone-image" src="../../assets/images/phone.png" alt=""></button>866-888-3962</button>
            <button id="contact-us-button" mat-raised-button><button id="mail-mini" mat-mini-fab><img src="../../assets/images/mail.png" alt=""></button>Contact Us</button>
        </div>
        <div id="robot-container" class="w-31 flex-container">
           <button id="play-button" mat-fab><img id="play-button-image" src="../../assets/images/play-button.png" alt=""></button>
        </div>
    </div>
   
   