<div id="outer-container">
    <p id="p">Warranty Labor Rate <span id="top-header">Increase and Submission</span></p>
    <div class="container">
    <div class="container" id="inner-container">
        <div><img id="house" src="../../assets/images/house-image.png" alt=""></div>
        <div><img class="forward-arrow" src="../../assets/images/forward-arrow.png" alt=""></div>
        <div><strong class="white">Products</strong></div>
        <div><img class="forward-arrow" src="../../assets/images/forward-arrow.png" alt=""></div>
        <div><strong class="white">Warranty Labor Rate Increase and Submission</strong></div>
    </div>
    </div>
</div>
<div class="container">
    <div><img src="../../assets/images/warranty-labor-img.png" alt=""></div>
</div>
<div class="container open-sans">
    <div class="large-text grey">
        <strong id="maximize">Maximize</strong> Your Warranty Labor Rate Utilizing Business Intelligence
    </div>
</div>
<div class="container">
    <div class="container open-sans">
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/graph.png" alt="">
            </div>
            <div class="grey">We do all heavy <br>lifting with <br><strong class="orange">Unmatched ROI!</strong></div>
        </div>
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/triangle.png" alt="">
            </div>
            <div class="grey">We utilize our <strong class="orange">Business <br>Intelligence Software </strong><br>to find the best sample <br>that always maximizes <br>the increase</div>
        </div>
        <div class="container">
            <div class="circle">
                <img src="../../assets/images/sawblade.png" alt="">
            </div>
            <div class="grey">
                <strong class="orange">We make it easy for <br> you</strong> by handling the <br> paperwork submission <br>process
            </div>
        </div>
    </div>
   </div>
   <div class="container orange-dollar">
       <div class="container">
         <div>
             <i class="fas fa-arrow-up f-5"></i>
         </div>
         <div>
             <i class="fas fa-arrow-up f-5"></i>
         </div>
         <div>
             <i class="fas fa-arrow-up f-5"></i>
         </div>
       </div>
       <div>
           We Averaged An <span class="underline"><strong>Increase of $17.54 Per Hour</strong></span><br>For Our Q4 2017 Approvals
       </div>
   </div>
   <div class="container">
       <div class="rounded-border">
           See below for <span class="orange"><strong>individual dealer results</strong></span>
       </div>
       </div>
       <div class="container">
       <table cellspacing=0>
          <tr id="header-row">
              <th>Manufacturer</th>
              <th>State</th>
              <th>Starting <br>Labor Rate</th>
              <th>Actual <br>Approved Rate</th>
              <th>Increase <br>Labor Rate</th>
              <th>12 Month <br>Value Of Increase</th>
          </tr>
          <tr>
              <td>Lexus</td>
              <td>CA</td>
              <td>$132.00</td>
              <td>$150</td>
              <td>$18.00</td>
              <td>$289.00</td>
          </tr>
          <tr>
                <td>Lexus</td>
                <td>CA</td>
                <td>$132.00</td>
                <td>$150</td>
                <td>$18.00</td>
                <td>$289.00</td>
            </tr> 
            <tr>
                     <td>Lexus</td>
                    <td>CA</td>
                    <td>$132.00</td>
                    <td>$150</td>
                    <td>$18.00</td>
                    <td>$289.00</td>
            </tr>
            <tr>
                    <td>Lexus</td>
                    <td>CA</td>
                    <td>$132.00</td>
                    <td>$150</td>
                    <td>$18.00</td>
                    <td>$289.00</td>
                </tr>
                <tr>
                        <td>Lexus</td>
                        <td>CA</td>
                        <td>$132.00</td>
                        <td>$150</td>
                        <td>$18.00</td>
                        <td>$289.00</td>
                    </tr>
                    <tr>
                            <td>Lexus</td>
                            <td>CA</td>
                            <td>$132.00</td>
                            <td>$150</td>
                            <td>$18.00</td>
                            <td>$289.00</td>
                        </tr>
                        <tr>
                                <td>Lexus</td>
                                <td>CA</td>
                                <td>$132.00</td>
                                <td>$150</td>
                                <td>$18.00</td>
                                <td>$289.00</td>
                            </tr>
                            <tr>
                                    <td>Lexus</td>
                                    <td>CA</td>
                                    <td>$132.00</td>
                                    <td>$150</td>
                                    <td>$18.00</td>
                                    <td>$289.00</td>
                                </tr> 
       </table>
    </div>
    <div class="flex-container overflow mx-10 mb-10" id="bg-computer">
        <div id="lorem-ipsum" class="flex-container w-50 skew bg-black p">
            <div class="inline-flex-column reverse-skew ">
            <strong class="pl-3 white">LOREM IPSUM</strong>
            <strong class="white">SIT AMET</strong>
           <p><span class="pl-3  f-small yellow">LOBORTIS NISL</span><br>
            <span class="f-small yellow">UT ALIQUIP</span></p>
            <strong class=white>SED NIAM NONUMMY NIBH EUISMOD TINCIDUNT</strong>
            <P class="rgba-white">
                Lorem ipsum lorem ipsum <br>
                lorem ipsum lorem ipsum
            </P>
  
           <div class="white inline-flex-column">
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem <br> ipsum lorem ipsum lorem ipsum 
               </div>
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem <br> ipsum lorem ipsum lorem ipsum 
               </div>
               <div class="inline-flex-row white fw-700">
                    <i class="fas fa-check-circle"></i>
                    Lorem ipsum lorem ipsum lorem ipsum <br> lorem ipsum lorem ipsum
               </div>
           </div>
           </div>
        </div>
        <div class="inline-flex-column skew bg-blue w-50 align-center">
               <div  class="mw-50 reverse-skew">
                   <strong class="yellow">Contact Us</strong>
                   <p class="white">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                   <form class="inline-flex-column align-start" action="#">
                      <input placeholder="Full Name" class="input">
                      <input placeholder="Email" class="input">
                      <input placeholder="Phone" class="input">
                      <textarea placeholder="Message" id="textarea"></textarea>
                      <button class="bg-orange white" mat-button>submit</button>
                   </form>
               </div>
        </div>       
    </div>
    <div class="flex-container">
        <div class="inline-flex-column mw-35 mr-5 open-sans">
          <p class="blue m-0 fontx2 fw-700">Lorem Ipsum Lorem Ipsum</p>
           <p class="grey m-0 fontx2">Lorem Ipsum lorem</p>
           <p><strong>Lorem ipsum lorem ipsum lorem ipsum <br>
            Lorem ipsum lorem ipsum</strong>
           </p>
           <p class="grey">Lorem ipsum lorem ipsum lorem ipsum <br>
            Lorem ipsum lorem ipsum lorem ipsum <br>
            lorem ipsum lorem ipsum lorem ipsum
           </p>
           <div class="flex-container jc-start">
               <button class=" mr-3 pl-0 bg-black white" mat-raised-button><button id="phone-fab" mat-mini-fab><i class="fas fa-phone"></i></button>866-888-3962</button>
               <button class="pl-0 fontx-2 bg-blue2 white" mat-raised-button><button id="envelope-fab" mat-mini-fab><i class="fas fa-envelope"></i></button> Contact Us</button>
           </div>
        </div>
        <div class="inline-flex-column mw-35">
             <img class="p-0" src="https://gmandsonsservice.com/images/display/411/Photo%20of%20shop.png" id="play-image" alt="">
            <i class="fas fa-play-circle pr-center f-5"></i>
             <button id="play-button" mat-raised-button class="as-c pr-0 bg-orange">Watch Our Video <button mat-mini-fab id="orange-mini"><i class="fas fa-play"></i></button></button>
        </div>
    </div>
    
   
   