<mat-toolbar>
   <mat-toolbar-row>
       <img src="../../assets/images/dynatron-logo.png" alt="">
   </mat-toolbar-row>
   <mat-toolbar-row>
        <button id="first-button" mat-raised-button class="bg-light-black border"><img src="../../assets/images/map-logo.png" alt=""> 5580 Peterson Lane, Suite 120 Dallas, TX 75240</button>
        <button mat-raised-button class="bg-light-black border"><button mat-mini-fab class="bg-black"><img src="../../assets/images/phone.png" alt=""></button>866-888-3962</button>
        <button mat-raised-button class="bg-blue"><button mat-mini-fab class="bg-light-blue"><i class="fas fa-envelope"></i></button>Contact Us</button>
        <button mat-raised-button class="bg-blue"><button mat-mini-fab class="bg-light-blue"><img id="person" src="../../assets/images/person-logo.png" alt=""></button>Sign In</button>
   </mat-toolbar-row>
   <mat-toolbar-row id="last-row">
       <a href="#">Home</a>
       <a href="#">Products</a>
       <a href="#">Perfect Pricing</a>
       <a href="#">Testimonials</a>
       <a href="#">Profit Gap Analysis</a>
       <a href="#">Increased Sales And Traffic</a>
   </mat-toolbar-row>
   <mat-toolbar-row id="copyright-row">
       <span id="copyright">All Rights Reserved &#169; 2017.</span> <span id="company-name">Dynatron Software, Inc.</span>
   </mat-toolbar-row>
</mat-toolbar>
